h1 {
  color: blue;
  margin: 0 auto;
  text-align: center;
}

.div-container {
  border: 1px black solid;
  width: 960px;
  height: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: black;
}

.grid {
  flex: 1 1 21%;
  background-color: lightblue;
  transition: 0.2s;
}
